# Template API Configuration
API_BASE_URL=https://dist.navyogawellness.com
LIVE_API_BASE_URL=https://d20fx2gucmvzba.cloudfront.net
LIVE_RECORDING_BASE_URL=https://navyoga.s3.ap-south-1.amazonaws.com/assets
